
 .l-banner-top-wrapper{
    height: 100%;
    display: flex; 
    padding-left: 11.92%;
    padding-top: 8.33%;
}


.l-banner-top-wrapper-mobile{
    display: flex;
    flex-direction: column;
    justify-items: center;

}

.l-banner-bottom-wrapper{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
 }

 .c-banner-bottom{
    background-image: linear-gradient(-90deg, #9ECC2B 0%, #008442 100%);
 }

 .l-banner-bottom__txt-wrapper{
     display: flex;
     justify-content: center;
     flex-direction: column;
     padding: 41px 5px 41px 5px;
     width: 295px;

 }

 .l-banner-bottom__txt-img-wrapper{
    margin-left: 65%;
    margin-right: auto;
}


.banner-bottom__txt{
    color: #ffffff;
    line-height: 2.08rem;
    font-size: 1.33rem;

}

.banner-tree{
 display: block;
 background-position: center; 
 background-repeat: no-repeat; 
 background-size: cover;
 height: 288px;
 width: 233px;
 margin-top: -288px;
 
}



/* Tablet Styles */
@media only screen and (min-width: 415px) and (max-width: 1024px) {


    .l-banner-top-wrapper{
        padding: 24px 24px 0 24px;
            }


    .l-banner-bottom-wrapper{
        padding: 8% 0 5% 0;
    }
  
    .l-banner-bottom__txt-img-wrapper{
        
        margin-left:auto;
        margin-right: auto;
        flex-direction: column;
        
     }
     .l-banner-bottom__txt-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0;
     }


}


/* Mobile Styles */
@media only screen and (max-width: 415px) {
    .l-banner-top-wrapper{
        display: flex; 
        justify-content: center;
        align-content: center;
        flex-direction: column;
        padding: 24px;
    }

    .l-banner-bottom-wrapper{
        align-items: center;
        padding-right: 0;
        justify-content: center;
    }

    .l-banner-bottom__txt-img-wrapper{
        margin-left:auto;
        margin-right: auto;
        flex-direction: column;
    }

    .l-banner-bottom__txt-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: auto;
    }

  }