
 .banner-top{
    height: 100%;
    background-color: #D3EEFB;
    display: flex; 
}

.banner-bottom{
    box-sizing: border-box;
    height: auto;
    /* height: 15.25rem; */
    width: 100%;
    background-image: linear-gradient(-90deg, #008442 0%, #9ECC2B 100%);
    top: 33.33rem;
    display: flex;
   flex-direction: column;
   align-content: flex-end;

 }

 .banner-bottom__txt-wrapper{
     display: flex;
     justify-content: center;
     flex-direction: column;
     padding: 2rem;

 }

 .banner-bottom__txt-tree-wrapper{
     
    width: 23.25rem;
    margin-left: 65%;
    margin-right: auto;
    top: -24rem;
}


.banner-bottom__txt{
    color: #ffffff;
    line-height: 2.08rem;
    font-size: 1.33rem;

}

.banner-tree{
 display: block;
 background-image: url("images/header.png");
 background-position: center; 
 background-repeat: no-repeat; 
 background-size: cover;
 height: 24rem;
 width: 19.42rem;
 margin-top: -24rem;
 
}



/* Tablet Styles */
@media only screen and (min-width: 415px) and (max-width: 1024px) {

  
    .banner-bottom__txt-tree-wrapper{
        
        margin-left:auto;
        margin-right: auto;
       flex-direction: column;
      
     }
     .banner-bottom__txt-wrapper{
     display: flex;
     flex-direction: column;
     justify-content: center;
    text-align: center;
    padding: 0;
     }


}







/* Mobile Styles */
@media only screen and (max-width: 415px) {
    .banner-top{
        display: flex; 
        justify-content: center;
        width:100%;
    }

    .banner-bottom{
        align-items: center;
       padding-right: 0;
       justify-content: center;
    }

    .banner-bottom__txt-tree-wrapper{
        
       margin-left:auto;
       margin-right: auto;
      flex-direction: column;
     
    }
    .banner-bottom__txt-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }

  }