
 .banner-top{
    height: 33.33rem;
    background-color: #D3EEFB;
    display: flex; 
}

.banner-bottom{
    box-sizing: border-box;
    height: 15.25rem;
    width: 100%;
    background-image: linear-gradient(-90deg, #008442 0%, #9ECC2B 100%);
    position: absolute; 
    top: 33.33rem;
    display: flex;
   flex-direction: column;
   

 }

 .banner-bottom__txt-wrapper{
     
    width: 23.25rem;
    height: 8.33rem;
    position: absolute;
    left: 65%;
    top: -24rem;
}
.banner-bottom__txt{
    color: #ffffff;
    line-height: 2.08rem;
    font-size: 1.33rem;

}

.banner-tree{
 display: block;
 background-image: url("images/header.png");
 background-position: center; 
 background-repeat: no-repeat; 
 background-size: cover;
 height: 24rem;
 width: 19.42rem;
 
}



/* Tablet Styles */
@media only screen and (min-width: 415px) and (max-width: 1024px) {

    .banner-bottom__txt-wrapper{
        
        display: flex;
        justify-content: center;
        top: 0;
        position: absolute;
        left: auto;
        display: flex;
        flex-direction: column;
    }



}







/* Mobile Styles */
@media only screen and (max-width: 415px) {
    .banner-top{
        display: flex; 
        justify-content: center;
        width:100%;
    }

    .banner-bottom{
        align-items: center;
       padding-right: 0;
       justify-content: center;
    }
    .banner-bottom__txt-wrapper{
        
        display: flex;
        justify-content: center;
        top: 0;
        position: absolute;
        left: auto;
        display: flex;
        flex-direction: column;
    }
    

  }