.card{
    width: 295px;
    background-color: #F9FCFD;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    border-radius: 0.33rem;
    box-shadow: 0 0.08rem 0.67rem 0 #CCCECE;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    margin-bottom: 2rem;
}

.card:hover {
  
    transform: scale(1.02);
}

.card--highlighted{
    border-width: 0.08rem;
    border-color: #0099DC;
    border-style: solid;
}

.card--transparent{
   opacity: 0.35;  
}

.card__img{
    height: 111px;
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.card--higlighted__img{
    height: 144px;
}


.card__contentwrapper{
    padding: 2rem;
    display: flex;
    flex-direction: column;  
    justify-content: space-between;  
}

.card__txt--title{
    padding-bottom: 0.58rem;
}

.card__txt--alinea{
    padding-bottom: 2.58rem;
}

.card__txt-bedrag-termijn-wrapper{
    display:flex;
    justify-content: space-between;
    padding-bottom: 1.58rem;
    align-items: flex-end;
}

.card__txt-bedrag-wrapper{
    display:flex;
    flex-direction: column;

}

.card__txt-termijn-wrapper{
    display:flex;
    flex-direction: column;
}


.card__txt--per-jaar{
    font-size: 1.17rem;
    padding-bottom: 1rem;
}

.card__txt--maandelijks{
    font-size: 1.17rem;
    color:  #9B9B9B;
}

span{
    font-family: dax-normal;
    font-size: 1.33rem;
    color: #9B9B9B;
}
.card__txt-bedrag-maandelijks{
    text-align: right;  
    color: #666666;  
    }

.card__txt-bedrag-jaar{
    text-align: right;
    padding-bottom: 0.5rem;
    color: #9B9B9B;
}

.card__btn{
    display:flex;
    justify-content: center;
    margin-bottom: 1.17rem;
}

.card__meer-informatie-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    }
    
    .card__meer-informatie__txt{
        text-decoration: underline;
        color: #007D46;
        font-family: dax-medium;
        font-size: 1.17rem;
        line-height: 2rem;
    }



      /* Tablet Styles */
  @media only screen and (min-width: 415px) and (max-width: 1024px) {
    .card--highlighted{ 
        order: -1;
        }
  }
    
    /* Mobile Styles */
@media only screen and (max-width: 415px) {
    .card{
        margin-bottom: 2rem;
        width: 85%;
    }


    .card--highlighted{ 
    order: -1;
    }
  }

