


.l-contentWidth-wrapper{
    max-width: 1200px;
    margin: 0 auto;
}



.c-banner{ 
    width: 100%;
    background-color: #D3EEFB;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
 }
 
.l-box-container{
    padding: 2rem;
    box-sizing: border-box;
    justify-content:space-between;
    margin-bottom: -8.33%;
    z-index: 999;
}

 .c-box{
     background-color: #FFFFFF;
     width: 483px;
     box-shadow: 0 0.08rem 0.67rem 0 #CCCECE;     
     border-radius: 0.33rem;
 }
 
 
 .l-section-wrapper{
     display: block;
     box-sizing: border-box;
     width:100%;
     margin-top: 4%;
 }
 
 .section-title{
     font-size: 2rem;
 } 
 
 .l-card-wrapper{
     width: 100%;
     margin-top: 3.3rem;
     margin-bottom: 10rem;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: flex-end;
 }
 
  /* Tablet Styles */
  @media only screen and (min-width: 415px) and (max-width: 1024px) {

    .c-banner{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
     }

 

    .l-box-container{
        margin: auto;
        margin-top: 2rem;
        width: 483px;
        margin-bottom: -5%;
        }

    .banner-bottom{
       align-items: center;
       padding: 10px 0;
       margin-top: -10px;
       /* justify-content: center;
       text-align: center; */
    }
    
    .l-card-wrapper{
        width: 100%;
        margin-top: 3.3rem;
        margin-bottom: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    
  }

 
 /* Mobile Styles */
@media only screen and (max-width: 415px) {
  
.banner-wrapper{
    height: 60%;
}

    /* .l-box-container{
    margin: auto;
    margin-top: 2.5rem;
    width: 85%;
    position: relative;
    margin-bottom: -20px;
    } */

   
    .l-card-wrapper{
        width: 100%;
        margin-top: 3.3rem;
        margin-bottom: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
 


  }


