.kies-je-product-card{
    height: 40.58rem;
    width: 24.75rem;
    background-color: #F9FCFD;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    border-radius: 0.33rem;
    box-shadow: 0 0.08rem 0.67rem 0 #CCCECE;
}

.kies-je-product-card--highlighted{
    height: 43.33rem;
    border-width: 0.08rem;
    border-color: #0099DC;
    border-style: solid;
}

.kies-je-product-card--transparent{
   opacity: 0.35;  
}

.kies-je-product-card__img{
    background-image: url("images/groen-uit-nederland.png");
    height: 9.25rem;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.kies-je-product-card--higlighted__img{
    height: 12rem;
    background-image: url("images/wind-uit-nederland.png");
}

.kies-je-product-card--transparent__img{
    background-image: url("images/wind-met-boks.png");
}


.kies-je-product-card__contentwrapper{
    padding: 2rem;
    display: flex;
    flex-direction: column;  
    height: 27.25rem;
    justify-content: space-between;  
}

.kies-je-product-card__txt--title{
    padding-bottom: 0.58rem;
}

.kies-je-product-card__txt--alinea{
    padding-bottom: 2.58rem;
}

.kies-je-product-card__txt-bedrag-termijn-wrapper{
    display:flex;
    justify-content: space-between;
    padding-bottom: 1.58rem;
    align-items: flex-end;

}

.kies-je-product-card__txt-bedrag-wrapper{
    display:flex;
    flex-direction: column;

}

.kies-je-product-card__txt-termijn-wrapper{
    display:flex;
    flex-direction: column;
}


.kies-je-product-card__txt--per-jaar{
    font-size: 1.17rem;
    padding-bottom: 1rem;
}

.kies-je-product-card__txt--maandelijks{
    font-size: 1.17rem;
    color:  #9B9B9B;
}

span{
    font-family: dax-normal;
    font-size: 1.33rem;
    color: #9B9B9B;
}
.kies-je-product-card__txt-bedrag-maandelijks{
    text-align: right;  
    color: #666666;  
}

.kies-je-product-card__txt-bedrag-jaar{
    text-align: right;
    padding-bottom: 0.5rem;
    color: #9B9B9B;
}

.kies-je-product-card__btn{
    display:flex;
    justify-content: center;
    margin-bottom: 1.17rem;
}

.kies-je-product-card__meer-informatie-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    }
    
    .kies-je-product-card__meer-informatie__txt{
        text-decoration: underline;
        color: #007D46;
        font-family: dax-medium;
        font-size: 1.17rem;
        line-height: 2rem;
    }
    
    /* Mobile Styles */
@media only screen and (max-width: 415px) {
    .kies-je-product-card{
        margin-bottom: 2rem;
        width: 30rem;
    }


    .kies-je-product-card--highlighted{ 
    order: -1;
    }
  }


   