

@font-face {
    font-family: 'dax-bold';
    src: url('fonts/Dax-Bold.ttf') format('ttf');
    font-weight: bolder;
    font-style: normal;

}



@font-face {
    font-family: 'dax-medium';
    src: url('fonts/Dax-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dax-regular';
    src: url('fonts/Dax-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dax-light';
    src: url('fonts/Dax-Light.ttf') format('ttf');
    font-weight: light;
    font-style: normal;

}

html {
    font-size: 12px;
    box-sizing: border-box;
  }

body{
    padding: 0;
    margin: 0;
    font-family: Dax-Regular;
}
article{
    width: 100%;
    display:flex;
    flex-direction: column;
}
 
.banner-wrapper{ 
   display: flex;
   flex-direction: column;
   height: 48.58rem;
}

.banner-top{
    height: 33.33rem;
    width: 100%;
    background-color: #D3EEFB;
    display: flex;
    flex-direction: row;

}

.banner-bottom{
    box-sizing: border-box;
    height: 15.25rem;
    width: 100%;
    background-image: linear-gradient(-90deg, #008442 0%, #9ECC2B 100%);
    position: absolute; 
    top: 33.33rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 13.5rem;  
 }

 .banner-bottom__txt{
     color: #FFFFFF;
     width: 23.25rem;
     height: 8.33rem;
 }

.banner-tree{
  display: block;
  background-image: url("images/header.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 24rem;
  width: 19.42rem;
  align-self: flex-end;
  margin-left: 11.08rem;
}


.bereken-je-groen-tarief-wrapper{
    background-color: #FFFFFF;
    height: 33.33rem;
    width: 40.25rem;
    box-shadow: 0 0.08rem 0.67rem 0 #CCCECE;
    z-index: 999;
    margin-left: 11.92rem; 
    margin-top: 8.33rem;
    padding: 2rem;
    box-sizing: border-box;
}

.kies-je-product{
display: block;
    box-sizing: border-box;
    width:100%;
    padding-top: 3.3rem;

}

.kies-je-product__title{
    font-size: 2rem;
} 

.kies-je-product-card-wrapper{
    width: 100%;
    height: 43.33rem;
    margin-top: 3.3rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.kies-je-product-card{
    height: 40.58rem;
    width: 24.75rem;
    background-color: #F9FCFD;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    border-radius: 0.33rem;
    box-shadow: 0 0.08rem 0.67rem 0 #CCCECE;
}

.kies-je-product-card--highlighted{
    height: 43.33rem;
    border-width: 0.08rem;
    border-color: #0099DC;
}

.kies-je-product-card--transparent{
   opacity: 0.35;  
}

.kies-je-product-card__img{
    background-image: url("images/groen-uit-nederland.png");
    height: 9.25rem;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.kies-je-product-card--higlighted__img{
    height: 12rem;
    background-image: url("images/wind-uit-nederland.png");
}

.kies-je-product-card--transparent__img{
    background-image: url("images/wind-met-boks.png");
}


.kies-je-product-card__contentwrapper{
    padding: 2rem;
}

.kies-je-product-card__txt--title{
    font-size: 1.75rem;
    font-family: dax-bold;
}

.kies-je-product-card__txt--alinea{
    font-size: 1.33rem;
    font-family: dax-normal;
}

.kies-je-product-card__txt-bedrag-termijn-wrapper{
    display:flex;
    justify-content: space-between;

}

.kies-je-product-card__txt-bedrag-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.kies-je-product-card__txt-termijn-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}


.kies-je-product-card__txt--per-jaar{
    font-size: 1.17rem;
    font-family: dax-normal;
}

.kies-je-product-card__txt--maandelijks{
    font-size: 1.17rem;
    font-family: dax-normal;
}