
   
.section--alinea .box--alinea{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 2rem;
    padding-left: 2rem;
   }


   .section--line{
   height: 0.21rem;
   background-color: #E0E6EC;
   }
   
   .section--undertitle{
       font-size: 1.42rem;
   }
   
   .section__btn-numbers-wrapper{
   display: flex;
   align-items: center;
   }
   