.u-hidden{
    display: none;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .u-hidden-mobile {
        display: none;
    }
  }

  /* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .u-hidden-tablet {
        display: none;
    }
  }